body {
    background-color: #a6bdf3;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fafafb7e;
    width: 800px;
    height: 100px;
    margin: 30px auto;
    border-radius: 10px;
}

nav {
    font-family: monospace;
    padding: 32px;
    text-align: center;
    font-size: 25px;
}

a {
    padding: 0 30px;
}

main {
    text-align: center;
    background-color: #fafafb7e;
    width: 800px;
    margin: auto;
    border-radius: 10px;
    padding: 25px 0;
}

img {
    width: 150px;
}

h1 {
    text-decoration: underline solid 4px #a6bdf3;
    text-underline-offset: 10px;
}

main p {
    width: 700px;
    text-align: justify;
    margin: auto;
}

div {
    background-color: #a6bdf3;
    padding: 20px;
    width: 300px;
    margin: auto;
    border-radius: 10px;
    color: #490d4a;
}

footer {
    background-color: #490d4a;
    margin-top: 40px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 50px;
}

footer nav a {
    color: #a6bdf3;
    text-decoration: none;
    font-size: 20px;
    padding: 0 12px;
    letter-spacing: 3px;
}

footer p {
    color: white;
    font-size: 12px;
    margin-top: 30px;
}